= form_for climb, url: section_climbs_path, remote: true do |f|
  %h3 New climb details:
  = render partial: 'shared/error_messages', locals: { target: climb }

  = f.hidden_field :section_id

  %table
    %tr
      %td= f.label :type
      %td
        .climb-type
          = f.label :type, value: 'Boulder' do
            = f.radio_button :type, :Boulder
            %span Boulder

          = f.label :type, value: 'Route' do
            = f.radio_button :type, :Route
            %span Route
    %tr.grade
      %td= f.label :grade
      %td
        = f.select :grade_id, climb.gym.route_grades.map { |grade| [grade.name, grade.id] }, { include_blank: true }, { id: 'route_grades' }
        = f.select :grade_id, climb.gym.boulder_grades.map { |grade| [grade.name, grade.id] }, { include_blank: true }, { id: 'boulder_grades' }
    %tr
      %td= f.label :color
      %td
        = f.select :color do
          = content_tag :option, nil, value: ''
          - Climb.colors.each do |color_hex, _id|
            = content_tag :option, Climb.color_name_for(color_hex), value: color_hex

  = f.submit 'Save'
