= form_for gym_form do |f|
  = render partial: 'shared/error_messages', locals: {target: gym_form}

  = f.label :name
  = f.text_field :name

  = f.label :route_grade_system_id, 'Route grade system'
  = f.select :route_grade_system_id, GradeSystem.all.map { |grade_system| [grade_system.name, grade_system.id] }

  = f.label :boulder_grade_system_id, 'Boulder grade system'
  = f.select :boulder_grade_system_id, GradeSystem.all.map { |grade_system| [grade_system.name, grade_system.id] }

  = field_set_tag 'Sections', id: 'gym_sections' do
    = f.fields_for :sections do |section_form|
      = render partial: 'section_fields', locals: {f: section_form}

    = link_to(new_section_path, id: 'add_new_section', remote: true) do
      = fa_icon 'plus'

  = f.submit 'Save'
