!!!
%html
  %head
    %title Climbalytics
    %link{ :href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro|Lustria", :rel => "stylesheet", :type => "text/css" }/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    = render 'layouts/navbar'
    = render_flash
    %main{ class: "#{controller_name} #{action_name}" }
      = yield
    #medium-screen-indicator
    #large-screen-indicator
